<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, i'm Jahde</h1>
    <p>Trap Queen goes hard</p>
    <p>If You're Reading This Stop Creeping</p>
  </div>
</div>
